<div class="top-bar">
    <h1>About Me</h1>
    <p><a href="#">Home</a> / About me</p>
</div>
<!-- end Top bar -->

<!-- Main container -->
<div class="container main-container clearfix">


<div>
  <input type="text" [(ngModel)]="term">
  <ul>
    <li *ngFor="let ninja of ninjas | filter:term">
      {{ninja.name}}
    </li>
  </ul>
</div>


    <h1>My First Attribute Directive</h1>
    <p myHighlight>Highlight me!</p>
    <p myHighlight>Highlight me!</p>
    <p myHighlight>Highlight me!</p>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color">Highlight me!</p>



</div>
<!-- end Main container -->